body {
	color: #243f60;
}

p, div, li {
	margin: 10pt 0;
}

p.indent {
	margin-left: 5%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10pt 0 0.0001pt;
	border: none;
	padding: 3pt;
	text-transform: uppercase;
}

h2 {
	background: #4F81BD;
	color: white;
	letter-spacing: .75pt;
}

h3 {
	background: #DBE5F1;
	letter-spacing: .75pt;
}

h4 {
	color: #243F60;
	letter-spacing: .75pt;
}

h3, h4, h5, h6 {
	color: #365F91;
	letter-spacing: .5pt;
}

header {
	margin: auto;
	border: none;
	padding: 5pt;
	text-transform: uppercase;
	background: #00529B;
	color: white;
	letter-spacing: .75pt;
	position: relative;
	clear: both;
	overflow: hidden
}

header h1 {
	margin: 0pt 10pt;
}

header h1, header img{
	float: left;
}

header a {
	text-decoration: none;
	color: white;
}

code {
	font-weight: bold;
	font-size: 120%;
	color: red;
}

footer {
    border-top: thin solid black;
	padding-top: 6pt;
	margin-top: 10pt;
}

author {
	width: 30%;
	float: left;
	text-align: left;
}

module {
	width: 30%;
	float: left;
	text-align: center;
}

copyright {
	float: right;
	text-align: right;
}

.info {
	border-top: thin solid #4F81BD;
	padding: 16pt;
	border-bottom: thin solid #4F81BD;
	font-weight: bold;
}